[Desktop Entry]
Name=Boa Safra Acesso Remoto
NoDisplay=true
MimeType=x-scheme-handler/boasafra;
TryExec=boasafra
Exec=boasafra %u
Icon=boasafra
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=boasafra
